{% extends 'base.html' %}
{% load static %}


{% block title %}
<h1>Homepage</h1>
{% endblock title %}

{% block content %}
 

<div class="jumbotron text-center">
  <h1 class="display-4">Web Awards</h1>
  <p class="lead">WebWards allows you to know how your projects are doing compared to projects from other developers.
  </p>
  <hr class="my-4">
  <span class="font-weight-bold text-info">Design.</span><span class="font-weight-bold text-success">Usability. </span><span class="font-weight-bold text-danger">Content</span>
  <p class="lead pt-2">
    <a class="btn btn-primary btn-sm m-auto" href=" {% url 'add_post' %} " role="button">Submit Project</a>
  </p>
</div>


<div class="container">
  <div class="row align-middle">  
      
      {% for post in object_list %}
      <div class="col-md-6">
          <div class="card m-2 ml-5">
              
              <img src=" {{ post.image.url }} " class="img-fluid" class="card-img-top" alt=" {{ post.name }} ">
              <div class="card-body">

               
                <p class="card-text"> <span class="mr-1" style="font-weight: bold;"> <a href="{{ post.title }}">{{ post.title }}.</a>  </span> {{ post.description }} </p>
              </div>
              <div class="card-footer">
                  <small class="text-muted"> {{ post.posted_at }} </small>
                </div>
            </div>            
      </div>
      {% endfor %}
      <div class="col-md-6"></div>
  </div>
</div>
  
</div>

<div class="container">
  <h2 class="text-center">Rating Methodology</h2>
  <hr>
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Design</h5>

          <p class="light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero numquam quasi id hic nemo, fugiat nam atque sunt laudantium ducimus inventore, quisquam deserunt asperiores temporibus deleniti, ipsa magnam? Tenetur, deserunt!</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">group</i></h2>
          <h5 class="center">Usability</h5>

          <p class="light">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate, eaque? Eligendi incidunt sint, nulla placeat velit, mollitia veritatis quaerat blanditiis amet dolore sapiente recusandae voluptatem ratione, fuga corporis ipsa. Odio!</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Content</h5>

          <p class="light">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora quisquam est vel at modi inventore, ad quod molestiae in dolorum et eligendi odit nisi similique, quos veritatis repellendus. Minima, voluptatum!</p>
        </div>
      </div>
    </div>
  </div>
</div>








{% endblock content %}